.container {
  position: fixed;
  width: 100%;
  height: auto;
  background: linear-gradient(to right, #2c94dd, #266baf);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 60px;
  z-index: 10;
}

.leftItemsAndSearch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0.88;
  gap: 160px;
}

.leftItems {
  display: flex;
  align-items: center;
  gap: 36px;
}

.barsIcon {
  color: #063150;
  height: 36px;
  width: 36px;
  cursor: pointer;
  padding: 6px;
  border-radius: 100%;
  transition: background-color 300ms;
  cursor: pointer;
  stroke-width: 2px;

  &:hover {
    background-color: rgb(255, 255, 255, 0.15);
  }
}

.logoContainer {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 12px;
}

.appLogo {
  width: 36px;
  height: auto;
  object-fit: cover;
}

.appName {
  font-size: 24px;
  font-weight: 700;
  color: #063150;
  font-family: "Oswald", sans-serif;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.searchBar {
  position: relative;
  display: flex;
  align-items: center;
  flex: 1;
}

.searchInput {
  width: 100%;
  height: 100%;
  border: none;
  background: rgba(0, 0, 0, 0.35);
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  padding: 8px 16px;
  border-radius: 8px;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;

  &::placeholder {
    color: #c9c9c9;
    font-size: 16px;
    font-weight: 400;
    font-family: "Oswald", sans-serif;
  }

  &:focus {
    outline: none;
    border: none;
  }
}

.searchIcon {
  position: absolute;
  color: #fff;
  height: 20px;
  width: 20px;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
  cursor: pointer;
  stroke-width: 2px;
}

.signInButton {
  border-radius: 14px;
  background-color: rgb(255, 255, 255, 0.15);
  padding: 10px 24px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  text-decoration-line: none;
  transition: background-color 300ms;
  cursor: pointer;

  &:hover {
    background-color: rgb(255, 255, 255, 0.25);
  }
}

.rightIcons {
  display: flex;
  gap: 14px;
}

.publishIcon {
  color: #fff;
  height: 36px;
  width: 36px;
  cursor: pointer;
  padding: 6px;
  border-radius: 100%;
  transition: background-color 300ms;
  cursor: pointer;

  &:hover {
    background-color: rgb(255, 255, 255, 0.15);
  }
}

.userButton {
  display: flex;
  border-radius: 100%;
  height: 98px;
  width: 98px;
  background-color: red;
}

.sidebarContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(18, 18, 18, 0.6);
  z-index: 20;
}
