.main {
  display: flex;
  min-height: 100vh;
  padding-top: 72px;
  padding-bottom: 72px;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 28px 28px;
}

.categoryTitle {
  font-size: 36px;
  font-weight: 600;
  color: #063150;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
  margin-bottom: 28px;
}

.categoryTitleSpan {
  color: #2c94dd;
}

.booksWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
  width: max-content;
  justify-content: center;
  height: max-content;
  margin: 0 auto;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
