.inputsContainer {
  display: flex;
  flex-direction: column;
}

.inputLabel {
  font-size: 16px;
  font-weight: 400;
  color: black;
  font-family: "Oswald", sans-serif;
  margin-bottom: 12px;
}

.input {
  width: 340px;
  height: 48px;
  padding: 0 12px;
  font-size: 16px;
  font-weight: 300;
  color: black;
  background-color: rgb(221, 221, 221);
  border: 1px solid rgb(0, 0, 0, 0.2);
  border-radius: 4px;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.5px;

  &&::placeholder {
    color: black;
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    font-weight: 300;
  }

  &&:focus {
    outline: none;
  }
}

.inputAndButtonContainer {
  display: flex;
  align-items: center;
  width: max-content;
  gap: 20px;
}

.searchButton {
  width: max-content;
  height: max-content;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  color: black;
  background-color: rgb(221, 221, 221);
  border: 1px solid rgb(0, 0, 0, 0.2);
  border-radius: 4px;
  font-family: "Oswald", sans-serif;
  padding: 4px 10px;
  padding-bottom: 6px;
}
