.booksContainer {
  background-color: rgb(185, 217, 241, 0.8);
  display: flex;
  border-radius: 8px;
  width: 80%;
  overflow-y: auto;
  align-items: center;
  justify-content: center;
  scrollbar-width: none;
  margin-top: 24px;
  padding: 0;
}

.booksModule {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 48px 0px;
  gap: 24px;
}
